.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.jumbotron{
    height: 300px;
    background-image: url('../../../public/images/jumbotron.jpg');
    background-size: cover;
}

.pre-header{
    background-color: #0082F9;    
}

.pre-header-container{
    display: flex;
    justify-content: end;
    color: white;
}

.pre-header-elm{
    padding: 10px 0 10px 25px;
    text-transform: uppercase;
}

.search-container{
    display: flex;
    justify-content: end;
    width: 200px;
    border-bottom: 2px solid #0082F9;
    i{
        margin-left: 5px;
    }
}