
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    .card{
        width: calc(100%/6);
        .img{
            max-width: 90%;
        }
        
    }
}

.img-container{
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin-bottom: 10px;
}

.img-title{
    color: gray;
    text-transform: uppercase;
}

.main-bottom-container{
    background-color: #0082F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-bottom-card{
    display: flex;
    align-items: center;
}

